<h4><a href="{{ page.link }}">Episode {{ page.episode }}: {{ page.title | split: ": " | last }}</a></h4>

<p><img src="/assets/images/{{ page.podcast | slugify }}.jpg" alt="{{ page.podcast }} Cover Art" /></p>

<blockquote><p>{{ page.description }}</p></blockquote>

<p>Listen to this episode on <a href="{{ page.link }}">Apple Podcasts</a>.</p>

{% if page.download %}
    <p><a href="{% if page.download-link.size > 1 %}{{ page.download-link }}{% else %}/assets/audio/{{ page.podcast | slugify }}/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | split: ": " | last | slugify }}.mp3{% endif %}">Download this episode</a>.</p>
{% endif %}

<p>Subscribe to {{ page.podcast }} on <a href="{{ page.apple }}">Apple Podcasts</a>, <a href="{{ page.spotify }}">Spotify</a>, or wherever you <a href="{{ page.subscribe }}">find</a> podcasts.</p>

{% include socials.html %}
