---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
      
    {{ content }}
      
    <h4><a href="{{ page.link }}">Episode {{ page.episode }}{{ page.title | remove: page.podcast }}</a></h4>

    <p><img src="/assets/images/{{ page.podcast | slugify }}.jpg" alt="{{ page.podcast }} Cover Art" /></p>

    <blockquote><p>{{ page.show-description }}</p></blockquote>

    <p>Listen on <a href="{{ page.link }}">Apple Podcasts</a>.</p>

    <p>Subscribe to {{ page.podcast}} on <a href="{{ page.apple }}">Apple Podcasts</a>, <a href="{{ page.spotify }}">Spotify</a>, and where ever you <a href="{{ page.subscribe }}">find</a> podcasts.</p>
  </div>

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
      
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      
    <div class="post-tags">
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>&nbsp;
    {% endfor %}
      </div>
  </div>


  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article>
