---
layout: post
---

<h4><a href="{{page.link}}">{{page.episode}}: {{page.title}}</a></h4>

<p><img src="/assets/images/{{page.podcast}}" alt="{{page.podcast-name}} Cover Art" /></p>The Milkbar Cover Art](/assets/images/the-milkbar.jpg)

> Dane Swan is washed, Mariah hates Canberra and Benito doesn't know Angels by Robbie Williams. A rough week by anyone's standards.

Listen on [Apple Podcasts](https://podcasts.apple.com/au/podcast/episode-4-brownslow-canberra-horoscopes/id1478059008?i=1000451458093).

Subscribe to The Milkbar on [Apple Podcasts](https://podcasts.apple.com/au/podcast/the-milkbar/id1478059008), [Spotify](https://open.spotify.com/show/1jZ8UrvFnje63aQNC4fzo2), and where ever you [find](https://player.whooshkaa.com/shows/the-milkbar) podcasts.