---
layout: default
---

<main class="home" id="main" role="main" aria-label="Content">
    <h1 class="content-title divided">{{ page.title }}</h1>
    <p>Blog posts tagged with #{{ page.tag }}.</p>
    <ul class="post-list">
    {% for post in site.tags[page.tag] %}
      <li>
        {% include post-list-item.html %}
      </li>
    {% endfor %}
    </ul>
</main>

<!--
<ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>-->
